# PLAYING WITH DATA = This is Jeopardy!

#### Project Goals

To write several functions that investigate a dataset of _Jeopardy!_ questions and answers. To filter the dataset for interesting topics, to compute the average difficulty of those questions.

1. First steps:
   - Loading the data into a DataFrame from a csv file named `jeopardy.csv` and containing data about the game show _Jeopardy!_
   - investigating file content
   - printing out specific columns
   - cleaning data and renaming the columns

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
# In order to display the full contents of a column, this line of code was added: pd.set_option('display.max_colwidth', None)

In [19]:
# loading the data
jeopardy = pd.read_csv('jeopardy.csv')
# Investigating file content
print(jeopardy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB
None

In [22]:
# Renaming columns 
#jeopardy.rename(columns={'Show Number':'Show_Number', ' Air Date' : 'Air_Date', ' Round' : 'Round', }, inplace = True)
jeopardy.columns = ['Show_Number', 'Air_Date', 'Round', 'Category', 'Value', 'Question', 'Answer']

In [23]:
print(jeopardy.head())

   Show_Number    Air_Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [27]:
# Checkin missing values to the column 'Answer'
print(jeopardy[jeopardy.Answer.isnull()])

        Show_Number    Air_Date             Round       Category Value  \
94817          4346  2003-06-23         Jeopardy!  GOING "N"SANE  $200
143297         6177  2011-06-21  Double Jeopardy!        NOTHING  $400

                                                               Question Answer
94817                                      It often precedes "and void"    NaN
143297  This word for "nothing" precedes "and void" to mean "not valid"    NaN

In [32]:
# Fixing missing values in the column 'Answer'
jeopardy.at[94817, 'Answer'] = 'null'
jeopardy.at[143297, 'Answer'] = 'null'

In [25]:
# Printing out specific columns
print(jeopardy.Round)

0                Jeopardy!
1                Jeopardy!
2                Jeopardy!
3                Jeopardy!
4                Jeopardy!
                ...
216925    Double Jeopardy!
216926    Double Jeopardy!
216927    Double Jeopardy!
216928    Double Jeopardy!
216929     Final Jeopardy!
Name: Round, Length: 216930, dtype: object

In [26]:
# Printing out specific columns
print(jeopardy.Category)

0                                 HISTORY
1         ESPN's TOP 10 ALL-TIME ATHLETES
2             EVERYBODY TALKS ABOUT IT...
3                        THE COMPANY LINE
4                     EPITAPHS & TRIBUTES
                       ...
216925                     RIDDLE ME THIS
216926                          "T" BIRDS
216927             AUTHORS IN THEIR YOUTH
216928                         QUOTATIONS
216929                     HISTORIC NAMES
Name: Category, Length: 216930, dtype: object

2. Writing a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to the function, the function returned a DataFrame of 152 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

In [80]:
def filter_questions(word_list, df):
    mask = df['Question'].apply(
        lambda q: all(word.lower() in q.lower() for word in word_list)
        #lambda q: all(word in q for word in word_list)
    )
    return df[mask]

In [81]:
# Testing the function:
filtered = filter_questions(["King", "England"], jeopardy)

In [82]:
print(filtered.shape)

(152, 8)

In [83]:
print(filtered.head())

       Show_Number    Air_Date             Round               Category  \
4953          3003  1997-09-24  Double Jeopardy!           "PH"UN WORDS
6337          3517  1999-12-14  Double Jeopardy!                    Y1K
9191          3907  2001-09-04  Double Jeopardy!         WON THE BATTLE
11710         2903  1997-03-26  Double Jeopardy!       BRITISH MONARCHS
13454         4726  2005-03-07         Jeopardy!  A NUMBER FROM 1 TO 10

       Value  \
4953    $200
6337    $800
9191    $800
11710   $600
13454  $1000

                                                                                                     Question  \
4953                 Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337   In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                 This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710            This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                    It's the number that followed the last king of England named William

                             Answer  Value_numeric
4953   Philately (stamp collecting)          200.0
6337                       Ethelred          800.0
9191                        Henry V          800.0
11710                       James I          600.0
13454                             4         1000.0

In [84]:
 filter_questions(["Both England's King George V & FDR put their stamp of approval on this"], jeopardy)

,Show_Number,Air_Date,Round,Category,Value,Question,Answer,Value_numeric
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting),200.0

3. Testing  **filter_questions** function with a few different sets of words to try to find some ways the function breaks. Optimizing the function.
   
Also, making sure function doesn't find rows that contain substrings of the given words. For example, if function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. (Note that this also comes with some drawbacks &mdash; function will no longer find questions that contained words like `"England's")`.

In [85]:
import re
def filter_questions_vol_2(word_list, df):
    pattern_list = [r'\b' + re.escape(word.lower()) + r'\b' for word in word_list]
    mask = df['Question'].apply(
        lambda q: all(re.search(pattern, q.lower()) for pattern in pattern_list)
    )
    return df[mask]

In [88]:
filtered_2 = filter_questions_vol_2(["King", "England"], jeopardy)
print(filtered_2.shape)
print(filtered_2.head(4))

(118, 8)
       Show_Number    Air_Date             Round          Category Value  \
4953          3003  1997-09-24  Double Jeopardy!      "PH"UN WORDS  $200
6337          3517  1999-12-14  Double Jeopardy!               Y1K  $800
9191          3907  2001-09-04  Double Jeopardy!    WON THE BATTLE  $800
11710         2903  1997-03-26  Double Jeopardy!  BRITISH MONARCHS  $600

                                                                                                     Question  \
4953                 Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337   In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                 This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710            This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"

                             Answer  Value_numeric
4953   Philately (stamp collecting)          200.0
6337                       Ethelred          800.0
9191                        Henry V          800.0
11710                       James I          600.0

4. Computing aggregate statistics, like `.mean()` on the `" Value"` column. First converting Value column to floats.

   Now that it is possible to filter the dataset of question, lets use the new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?

In [36]:
# Checking how many records has 'no value' in Value column
print(jeopardy[jeopardy['Value'] == 'no value'].shape[0])

3634

In [99]:
def filter_values(sign, df):
    mask = df["Value"].apply(
        lambda q: sign in q
    )
    return df[mask]

In [108]:
filterred = filter_values('€', jeopardy)
print(filterred.shape)

filterred = filter_values('PLN', jeopardy)
print(filterred.shape)

filterred = filter_values('£', jeopardy)
print(filterred.shape)


#filter_values("$", jeopardy)

(0, 8)
(0, 8)
(0, 8)

In [40]:
# Creating new column with the values converted to numerics
jeopardy['Value_numeric'] = jeopardy['Value'].apply(lambda x: int(x.replace('$', '').replace(',', '')) if x != 'no value' else None)

In [41]:
jeopardy.Value_numeric.sum()

160525700.0

In [121]:
# What is the average value of questions that contain the word "King"? What is the max value?
data_king = filter_questions_vol_2(["King"], jeopardy)
print(data_king.shape)

mean_king = data_king.Value_numeric.mean()
max_king = data_king.Value_numeric.max()
min_king = data_king.Value_numeric.min()

print("Average value of the questions that contain the word King is: ${}".format(round(mean_king, 2)))
print("Max value of the questions that contain the word King is: ${}".format(round(max_king, 2)))
print("Min value of the questions that contain the word King is: ${}".format(round(min_king, 2)))

(2744, 8)
Average value of the questions that contain the word King is: $817.6
Max value of the questions that contain the word King is: $9000.0
Min value of the questions that contain the word King is: $100.0

In [124]:
# What is the average value of questions that contain the word "King" and "viking"? What is the max value?
data_king = filter_questions_vol_2(["King", "viking"], jeopardy)
print(data_king.shape)

mean_king = data_king.Value_numeric.mean()
max_king = data_king.Value_numeric.max()
min_king = data_king.Value_numeric.min()

print("Average value of the questions that contain the words King and viking is: ${}".format(round(mean_king, 2)))
print("Max value of the questions that contain the words King and viking is: ${}".format(round(max_king, 2)))
print("Min value of the questions that contain the words King and viking is: ${}".format(round(min_king, 2)))

(3, 8)
Average value of the questions that contain the words King and viking is: $1466.67
Max value of the questions that contain the words King and viking is: $2000.0
Min value of the questions that contain the words King and viking is: $800.0

5. Writing a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, it would be possible then to find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [129]:
def unique_answers(df, words_list):
    data = filter_questions_vol_2(words_list, df)
    print("There are {} unique answers".
    return data.Answer.nunique()

In [130]:
unique_answers(jeopardy, ["King"])

1499

In [138]:
def most_common_answer(df, words_list):
    data = filter_questions_vol_2(words_list, df)
    counts = data['Answer'].value_counts()
    print("The most common answer is '{}' and it appears {} times.".format(data['Answer'].value_counts().idxmax(), counts.max()))
    return data['Answer'].value_counts().idxmax()

In [139]:
most_common_answer(jeopardy, ["King"])

The most common answer is 'Henry VIII' and it appears 54 times.

'Henry VIII'